@import '~bootstrap/dist/css/bootstrap.min.css';

$primary: #7334c7;
$secondary: #f3f3f3;

.loader-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.loader {
	border: 16px solid $secondary;
	border-radius: 50%;
	border-top: 16px solid $primary;
	border-bottom: 16px solid $primary;
	width: 120px;
	height: 120px;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}